---
layout: default
title: Links Úteis - Práticas Ágeis
description: Pessoal, segue alguns links úteis que vem me ajudando a me aprofundar mais sobre desenvolvimento ágil. Espero que ajude vocês também.
---

<article>
  <small>21/12/2012</small>
  <div class="post">
    <h2>Links Úteis - Práticas Ágeis</h2>
    {% include shared.html %}

    <p>Pessoal, segue alguns links úteis que vem me ajudando a me aprofundar mais sobre desenvolvimento ágil. Espero que ajude vocês também.</p>

    <h3>Teoria das restrições:</h3>
    <ul>
      <li><a href="http://www.heptagon.com.br/toc">http://www.heptagon.com.br/toc</a></li>
    </ul>

    <h3>Scrum:</h3>
    <ul>
      <li><a href="http://www.improveit.com.br/xp/manifesto_agil">http://www.improveit.com.br/xp/manifesto_agil</a></li>
      <li><a href="http://www.improveit.com.br/scrum">http://www.improveit.com.br/scrum</a></li>
      <li><a href="http://www.devin.com.br/modelo-scrum/">http://www.devin.com.br/modelo-scrum/</a></li>
    </ul>

    <h3>Revista Online:</h3>
    <ul>
      <li><a href="http://www.visaoagil.com/">http://www.visaoagil.com/</a></li>
    </ul>

    <h3>XP:</h3>
    <ul>
      <li><a href="http://pt.wikipedia.org/wiki/Programa%C3%A7%C3%A3o_Extrema">http://pt.wikipedia.org/wiki/Programa%C3%A7%C3%A3o_Extrema</a></li>
    </ul>

    <h3>Feature Driven Development:</h3>
    <ul>
      <li><a href="http://www.heptagon.com.br/fdd">http://www.heptagon.com.br/fdd</a></li>
    </ul>

  </div>
</article>

{% include comments.html %}
