---
layout: default
title: Dotfiles - Facilitating our lives
description: I have seen that more and more people are adopting the practice of saving its personal settings for desktop Linux environment in the GitHub repository. I am one of those people, and I ended up using this practice to create my own 'dotfiles'.
---

<article>
  <small>21/08/2012</small>
  <div class="post">
    <h2>Dotfiles - Facilitating our lives</h2>
    {% include shared.html %}

    <h3>I have seen that more and more people are adopting the practice of saving its personal settings for desktop Linux environment in the GitHub repository. I am one of those people, and I ended up using this practice to create my own 'dotfiles'.</h3>

    <h3>Here is the link:</h3>
    <p><a href="https://github.com/f0rmig4/dotfiles">https://github.com/f0rmig4/dotfiles</a></p>

    <p>In this matter, people who works in many different environments have the facility to centralize all its settings in just one place. Is this good practice, or what?</p>

    <h3>Here are some examples:</h3>

    <p><a href="https://github.com/rgarbin/bashrc_dotfile" target="_blank">https://github.com/rgarbin/bashrc_dotfile</a></p>
    <p><a href="https://github.com/lucasts/dotvim" target="_blank"> https://github.com/lucasts/dotvim</a></p>
    <p><a href="https://github.com/lucashungaro/dotfiles" target="_blank"> https://github.com/lucashungaro/dotfiles</a></p>

    <p>In my opinion, this method turns the task of setting up my work environment in a new machine, a lot easier and faster. It is cool isn't ?</p>

    <p>It’s my tip.</p>
  </div>
</article>

{% include comments.html %}
