---
layout: default
title: Right way with python and ruby
description: Next time that someone says that works with ruby/rails on windows, I will give him a hug. you are a hero!
---

<article>
  <small>01/08/2012</small>
  <div class="post">
  <h2>Right way with python and ruby</h2>
  {% include shared.html %}

	<h5>Attention Unix fan boys , this post is for you!!!</h5>

	<p>This is my first post in English to practice this skill that is so important.</p>
	<p>I intend to publish others post in english as well.</p>

	<p>Sometime ago, I read this message by <a href="http://twitter.com/fnando" target="_blanck" alt="twitter fnando">@fnando</a> in twitter!
	<ul>
		<li>'Na próxima vez que alguém disser que trabalhar com ruby/rails no windows, vou dar um abraço. você é um herói!'</li>
		<li>'Next time that someone says that works with ruby/rails on windows, I will give him a hug. you are a hero!'</li>
	</ul>

	<p>I loved to read this sentence, and I would like to give my opinion about it!</p>

	<h3>Why Right way with python and ruby?</h3>

  <ul>
    <li>Ruby comes by default in Mac Os</li>
    <li>Python comes by default in many distros GNU Linux</li>
    <li>Ruby and Python are languages that UNix community adopts as development platform.</li>
  </ul>

	<p>this is a sign that unix platform is the most prepared!</p>

	<h3>So, you should not use in Windows?</h3>

	<p>Thats not the point. Yes you can use ruby and python in Windows, both are multi-platform. But you need to understand that you are going to have some problems!</p>

	<p>Examples:
  <ul>
    <li>Some gem and pip have dependency with libs of operation system.</li>
    <li>Slow support compared with Unix platform.</li>
    <li>RVM, that is the main used sandbox, don’t have Windows support.</li>
  </ul>

	<p>Anyway, my suggestion is to use Windows only to develop simple projects (little gems,pip), that I believe you will not face any problems. For more complex projects, use Unix!</p>

	<p>Now everybody knows why I like these programming languages very much!!!!</p>

  </div>
</article>

{% include comments.html %}