---
layout: default
title: Personal Kanban
description: É uma maneira simples de gerenciar tuas tarefas pessoais e profissionais de forma visual. Personal Kanban é uma solução ideal para aumentar a produtividade em tuas tarefas diárias...
---

<article>
  <small>26/01/2013</small>
  <div class="post">
    <h2>Pesonal Kanban</h2>
    {% include shared.html %}

    <h4>É uma maneira simples de gerenciar tuas tarefas pessoais e profissionais de forma visual.</h4>
    <h4>Personal Kanban é uma solução ideal para aumentar a produtividade em tuas tarefas diárias e está ganhando enorme popularidade porque é simples de usar e fácil de se adaptar.</h4>

    <h3>Quem e como pode usar Kanban pessoal?</h3>
    <p>Todos! É tão simples que até as crianças podem usá-lo. Vou citar alguns exemplos:</p>
    <ul>
      <li>Famílias - podem usar para compartilhar e organizar as tarefas domésticas.</li>
      <li>Estudantes e Professores- para planejar trabalhos e provas da faculdade.</li>
      <li>Arquitetos - para reunir os requisitos e preparar projetos.</li>
      <li>Executivos - para organizar sua vida pessoal e empresarial.</li>
    </ul>

    <h3>Vantagens:</h3>
    <ul>
      <li>Organize tarefas a serem feitas.</li>
      <li>Saiba o que estas fazendo.</li>
      <li>Acompanhe a evolução de trabalhos.</li>
      <li>Economize tempo, que pode muito bem ser gasto em outras atividades.</li>
    </ul>

    <h3>Como funciona:</h3>
    <ul>
      <li>O que ainda há para fazer? Veja o "Backlog"</li>
      <li>O que está em progresso? Veja o "In progress"</li>
      <li>Qual a tua eficiência? Veja o "Done"</li>
      <li>Tarefas que não podem ser realizadas? Veja o "Offside"</li>
    </ul>

    <h3>Ferramenta Web</h3>
    <p>Embora o mais correto seja o uso de um Kanban físico, achei mais conveniente o uso de um virtual. Passei dias tentando encontrar um software web adequado, entretanto, não tive sucesso em minha busca, por isso resolvi criar minha própria solução que chamei de PKanban. Ela é uma simples aplicação escrita em Ruby on Rails, baseada em HTML5 e hospedada no Heroku, o código fonte também está disponível em meu Github para quem quiser baixar e colaborar - Sim seria muito bom novos colaboradores e novas idéias.</p>
    <p>Aplicação encontra-se em: <a href="http://pkanban.herokuapp.com/" target="_blanck">http://pkanban.herokuapp.com/</a> basta realizar um cadastro e sair usando.</p>

    <h3>Personal Kanban em 3 passos:</h3>

    <p><strong>Passo 1</strong> - Mapeie o fluxo de trabalho:</p>
    <p>Primeiro de tudo tu precisas identificar o fluxo de trabalho. Qual será a melhor maneira de organizar as tarefas.</p>

    <p><strong>Passo 2</strong> - Visualize o trabalho</p>
    <p>Depois de teres o processo mapeado, poderás começar a criar tuas tarefas. Cada atividade deve ser escrita em postites separados e em diferentes cores para diferenciar os tipos de tarefa. Em seguida, pode-se pensar sobre a adição de informações, tais como descrição, prioridade, listas de afazeres e prazos.

    <p><strong>Passo 3</strong> -  Limitar o trabalho em curso</p>
    <p>A próxima "coisa" que precisa ser feita é limitar a quantidade de tarefas em andamento. Isso permitirá que se concentres nas tarefas certas na hora certa.</p>
    <p>Tu não podes te concentrar em mais de duas coisas ao mesmo tempo e se tentares, poderás perde o foco e tornam-se menos produtivos.</p>

    <h4>Agora podes começar a planejar, organizar e trabalhar de forma mais eficiente.</h4>
    <h4>É simples assim.</h4>

    <h3>Compartilhe esta ideia com teus amigos.</h3>
    <p>Depois de entender e implementar esta abordagem com sucesso em teu cotidiano, poderás aplicar o mesmo método dentro de tua equipe e de tua organização.</p>
    <p>Planeje melhor tua vida e não perca tempo!</p>

    <h3>Referências:</h3>
    <ul>
      <li>Jim Benson's site e livro.</li>
      <li>www.personalkanban.com</li>
      <li><a href="http://colearningbe.wordpress.com/2012/10/08/pkflownutshell/" tagert="_blanck">Personal Kanban in a Nutshell</a> by Jurgen De Smet and Erik Talboom - Descreve o quanto a adoção dessa prática mudou suas vidas, a leitura deste texto complementa de forma simples e completa esse artigo.</li>
    </ul>
    <p>Até a próxima.</p>

  </div>
</article>

{% include comments.html %}
