---
layout: default
title: Mínimo de 'Agile'
description: Primeiro, vamos supor que nós acreditamos que a nossa empresa precisa de uma transformação ágil, na forma de pensar e gerir seus projetos para atingir objetivos de negócios importantes.
---

<article>
  <small>13/02/2013</small>
  <div class="post">
    <h2>Mínimo de 'Agile'</h2>
    {% include shared.html %}
    <h4>Primeiro, vamos supor que nós acreditamos que a nossa empresa precisa de uma transformação ágil, na forma de pensar e gerir seus projetos para atingir objetivos de negócios importantes.</h4>

	<p>E para isso iremos iniciar criando um método para alcançar sucesso a partir da transformação ágil, definindo os princípios do processo ágil que iremos adotar.</p>

  	<p>Bem mais por onde podemos começar?</p>
	<p>Aqui segue sete ideias para dar o pontapé inicial:</p>
	<ul>
		<li>Sprints com tempo definido em uma time box de quatro semanas ou menos;</li>
		<li>Há um product backlog priorizado pelo valor de negócio;</li>
		<li>Construir estórias de usuário, focando casos de uso e valor de negocio; </li>
		<li>Proprietário do produto é um integrante da equipe;</li>
		<li>A equipe gera gráficos de burndown e conhece sua velocidade;</li>
		<li>Equipe auto gerenciada e com autonomia;</li>
		<li>Entrega de valor agregada a cada interação.</li>
	</ul>

	<p><strong>Para tornar o seu processo 'Agile', pense de forma Ágil!</strong>. Mas lembre-se 'Agile' requer uma mudança da cultura e dos hábitos organizacionais para que seja possível usufruir todos os benefícios oferecidos por esta prática.</p>
	<p>Uma boa prática que eu vejo como mantra, quase que diário (#tiroso) é a leitura do <a href="http://agilemanifesto.org/" target="_blanck" alt="manifesto agile">manifesto 'Agile'.</a>. É uma ideia que eu recomendo a todos, <strong>oremos</strong>.</p>

	<p>Deixe sua opinião a respeito.</p>

  </div>
</article>

{% include comments.html %}