---
layout: default
title: Grupo de desenvolvedores "mobile" do Rio Grande do Sul
description: Recentemente unirmos esforços para agregar um grupo de pessoas com intuito de criar o primeiro grupo de desenvolvedores "mobile" do Rio Grande do Sul, com apoio da SUCESU-RS acabamos fundando o GU Mobile-RS
---

<article>
  <small>21/05/2013</small>
  <div class="post">
    <h2>Grupo de desenvolvedores "mobile" do Rio Grande do Sul</h2>
    {% include shared.html %}

    <p>Recentemente juntamos esforços para unir um grupo de pessoas com intuito de criar o primeiro <br><strong>GRUPO DE DESENVOLVEDORES "MOBILE" DO RIO GRANDE DO SUL</strong>, com apoio da <strong>SUCESU-RS</strong> acabamos fundando o <strong>GU MOBILE-RS</strong>.</p>

    <p>As metas do <strong>GU MOBILE-RS</strong> é promover encontros/eventos entre desenvolvedores, empresários e entusiastas, ministrando palestras, workshops, seminários sobre o mundo "mobile", HTML5, Firefox OS, Android e IOS.</p>

    <p>Bom, quem tiver interesse poderá acompanhar as atividades do grupo pela <strong><a href="https://groups.google.com/group/gumobile-rs" target="_blanck">lista</a></strong>, pelo <strong><a href="http://twitter.com/gumobilers" target="_blanck">Twitter</a></strong> ou pelo <strong><a href="http://gumobilers.github.io/" target="_blanck">site</a></strong>.</p>

    <p>Dicas, sugestões sempre são muito bem vinda!! </p>

  </div>
</article>

{% include comments.html %}