---
layout: default
title: Nada a declarar - Apenas mais um "easter egg"
description: Já faz um tempo que eu estava para escrever algum "easter egg" para esse blog, então enfim acabei criando e resolvi divulga-lo aos senhores através deste post.
---

<article>
  <small>06/12/2013</small>
  <div class="post">
    <h2>Nada a Declarar - Apenas mais um "easter egg"</h2>
    {% include shared.html %}

	<p>Já faz um tempo que eu estava para escrever algum <strong>"easter egg"</strong> para esse blog, então enfim acabei criando e resolvi divulga-lo aos senhores através deste post.</p>

	<p>Antes de mais nada, este artigo é fruto de alguém que de fato não tinha nada mais para fazer, por esse motivo resolveu criar e dedicar o nome desta publicação em homenagem a música <a href="http://www.youtube.com/watch?v=4Y3o2Dib0K4" target="_blanck">"Nada a Declarar", da banda Ultraje a Rigor</a>.</p>

	<p>Eu não tenho nada pra dizer, também não tenho mais o que fazer, só pra garantir esse refrão, eu vou enfiar um palavrão (Ah..Cu). Putz, eu sempre quis escrever uma bobagem no meu blog, afinal de contas ele é meu hahuahuhua.</p>

	<h3>Mas você sabe o que é "easter eggs"?</h3>

	<p>A tradução literal do inglês para o idioma português seria "ovo de páscoa", mas, no mundo virtual <strong>"easter eggs"</strong> são brincadeiras escondidas em sistemas, ativadas por códigos secretos. Já foi muito utilizado em jogos de vídeo-game, softwares e, claro, invadiu a internet.</p>

	<p>Acabei optando por usar o tradicional Código Konami (também conhecido como Konami Code) é um cheat que pode ser usado em vários videogames da Konami, normalmente habilitando algum tipo de opção secreta.</p>

	<p>O código foi utilizado pela primeira vez em 1986 no jogo Gradius para o Nintendo Entertainment System. Durante o jogo, ou nas telas de apresentação, o jogador pressiona a seguinte seqüência no controle:</p>

	<p><strong>( ↑ ↑ ↓ ↓ ← → ← → BA ENTER )</strong> e surpresas aparecem.</p>

	<p>Então bora lá, faça a sequência aí e veja a minha brincadeira.</p>

  </div>
</article>

{% include comments.html %}
