---
layout: default
title: Meu Blogroll o que estou lendo sobre o mundo do desenvolvimento web
description: Atualmente tenho mais de 130 inscrições de feeds em meu Google Reed, aonde principalmente leio artigos e notícias sobre o mundo do desenvolvimento web.
---

<article>
  <small>31/01/2013</small>
  <div class="post">
    <h2>Meu Blogroll o que estou lendo sobre o mundo do desenvolvimento web</h2>
    {% include shared.html %}

	<p>Atualmente tenho mais de 130 inscrições de feeds em meu Google Reed, aonde principalmente leio artigos e notícias sobre o mundo do desenvolvimento web.</p>
	<p>Fiz uma lista dos principais feeds que gostaria de compartilhar com vocês:</p>

	<h3>Web</h3>
	<ul>
		<li><a href="http://www.w3.org/" target="_blanck">W3C News</a></li>
		<li><a href="http://googleblog.blogspot.com.br/" target="_blanck">Blog Oficial do Google</a></li>
		<li><a href="http://blog.mozilla.org/" target="_blanck">Blog Mozilla</a></li>
		<li><a href="http://dev.opera.com/" target="_blanck">Dev. Opera</a></li>
		<li><a href="http://www.smashingmagazine.com/" target="_blanck">Smashing Magazine</a></li>
		<li><a href="http://www.tiespecialistas.com.br/" target="_blanck">TI Especialistas</a></li>
		<li><a href="http://www.baguete.com.br/" target="_blanck">Baguete</a></li>
		<li><a href="http://idgnow.uol.com.br" target="_blanck">IDG Now</a></li>
		<li><a href="http://br.wwwhatsnew.com/" target="_blanck">Wwwhat's new?</a></li>

	</ul>

	<h3>Desenvolvimento Web</h3>
	<ul>
		<li><a href="http://weblog.rubyonrails.org/" target="_blanck">Riding Rails</a></li>
		<li><a href="http://www.html5rocks.com/" target="_blanck">HTML5 Rock</a></li>
		<li><a href="http://tableless.com.br/" target="_blanck">Tableless</a></li>
		<li><a href="http://planet.python.org/" target="_blanck">Planet Python</a></li>
		<li><a href="http://www.cssnolanche.com.br/" target="_blanck">CSS no Lanche</a></li>
		<li><a href="http://css-tricks.com/" target="_blanck">CSS-Tricks</a></li>
		<li><a href="http://paulirish.com/" target="_blanck"> Paul Irish - Google Chrome's Developer Relations</a></li>
		<li><a href="https://brendaneich.com/" target="_blanck">Brendan Eich co-founded mozilla.org </a></li>
		<li><a href="http://www.backalleycoder.com/" target="_blanck">Product Manager at Mozilla</a></li>
		<li><a href="http://davidwalsh.name/" target="_blanck">David Walsh</a></li>
		<li><a href="http://www.akitaonrails.com/" target="_blanck">Akita on Rails</a></li>
		<li><a href="http://desenvolvimentoparaweb.com/" target="_blanck">DPW</a></li>
		<li><a href="http://sergiolopes.org" target="_blanck">Sérgio Lopes</a></li>
		<li><a href="http://jaydson.org/" target="_blanck">Jaydson Gomes - Curador do BrazilJS</a></li>
		<li><a href="http://zenorocha.com/" target="_blanck">Zeno Rocha</a></li>
		<li><a href="http://simplesideias.com.br/" target="_blanck">Simples Idéia - Nando Vieira</a></li>
	</ul>

	<h3>Agile</h3>
	<ul>
		<li><a href="http://scrumalliance.org/" target="_blanck">Scrum Alliance</a></li>
		<li><a href="http://www.implementingscrum.com" target="_blanck">Implementing Scrum</a></li>
		<li><a href="http://www.personalkanban.com/pk/blog/" target="_blanck">Personal Kanban</a></li>
		<li><a href="http://visaoagil.wordpress.com/" target="_blanck">Visão Ágil</a></li>
		<li><a href="http://pedrogustavotorres.wordpress.com/" target="_blanck">Agile Project Management</a></li>
	</ul>

	<p>Sem dúvida faltou varios links na qual eu leio diariamente. A minha idéia é manter constantemente atualizado esse post com novos links e por favor, mandem sugestões.</p>
	<p>Que a força esteja com vocês!</p>

  </div>
</article>

{% include comments.html %}