---
layout: default
title: Meteorize seu desenvolvimento com Meteor.js
description: Essa semana tive que fazer uma pesquisa e construção de um protótipo MVP de um produto interno para a minha empresa, asc.labs, antes disso fiz um estudo em alguns frameworks e acabei optando pelo Meteor.js

---

<article>
  <small>06/07/2015</small>
  <div class="post">
    <h2>Meteorize seu desenvolvimento com Meteor.js</h2>
    {% include shared.html %}

    <p>Buenas seres desse planeta, a tempo que não escreve algo para compartilhar aqui no blog. Essa semana tive que fazer uma pesquisa e construção de um protótipo MVP de um produto interno para a minha empresa, <a href="http://www.asclabs.com.br/" target="_blanck">asc.labs</a>, antes disso fiz um estudo em alguns frameworks e acabei optando pelo Meteor.js. Abaixo trago alguns itens e informações levantados.</p>

    <h3>O que é Meteor:</h3>
    <p><a href="https://www.meteor.com/" target="_blanck">Meteor</a> é uma plataforma construída em cima de Node.js para a construção de web apps em tempo real. Utiliza JavaScript tanto no cliente quanto no servidor. </p>
    <p>O resultado disso tudo é uma plataforma que consegue ser muito poderosa e muito simples abstraindo muitos dos aborrecimentos e armadilhas comuns ao desenvolvimento de aplicativos web.</p>
    <p>Foi criado por um grupo de ex-funcionarios do Google em 2011, sua primeira versão 1.0 foi lançado em novembro 2014, ultrapassado 21 mil estrelas no github, tornando-se o projeto com mais estrelas no gihub.</p>

    <h3>FACIL DE APRENDER</h3>
    <p>Meteor foi concebido com a idéia de ser fácil de aprender, tendo uma baixa curva de aprendizagem mesmo para iniciantes. Um dos sete princípios fundamentais do Meteor é "A simplicidade é igual a produtividade".</p>

    <h3>SIMPLICIDADE DO LADO 'CLIENT':</h3>
    <p>Trabalha com a biblioteca poderosa de templates <a href="https://www.meteor.com/blaze" target="_blanck">Blaze</a>, para a criação de interfaces. Blaze cumpre o mesmo propósito que Angular, Backbone e Knockout, mas é muito mais fácil de usar.</p>

    <h3>FERRAMENTAS:</h3>
    <p>Não precisamos usar Grunt e Bower, Meteor inclui suporte para SASS/LESS e compressão cógigo JS. Tudo isso acontece automaticamente e de forma transparente ao executar a aplicação meteor.</p>

    <h3>TESTES:</h3>
    <p>O framework oficial de Teste do Meteor é <a href="http://velocity.meteor.com/" target="_blanck">Velocity</a>. Velocity integra com Selenium Nightwatch e permite a integração contínua (CI) usando meteoro-teste.</p>

    <h3>SUPORTE MÓVEL:</h3>
    <p>As aplicações móveis podem ser geradas usando o mesmo código da versão web, com o uso do PhoneGap/Cordova. A implementação é bem simples, basta incluir o 'packpage' do Android, por exemplo, e já teremos uma versão da nossa app híbrida.</p>

    <h3>ECOSSISTEMA PODEROSO:</h3>
    <p><a href="" target="_blanck">Atmosfera</a> é o repositório de pacotes do Meteor que possui cerca de 2000 pacotes. Além disso o Meteor permite o uso de qualquer um dos mais de 100 mil pacotes que existem no ecossistema Node.js.</p>

    <h3>COMUNIDADE:</h3>
    <p>Meteor tem uma grande comunidade ativa em todo o planeta, muitos conteúdos em blogs, podcasts, livros, cursos.</p>
    <p>Abaixo segue algumas referencias:</p>

    <p><a href="https://www.eventedmind.com/" target="_blanck">EventedMind</a>: Videotutoriales no Meteor, NodeJS e desenvolvimento.</p>

    <p><a href="http://pt.discovermeteor.com/" target="_blanck">DiscoverMeteor</a>: O livro oficial do Meteor na versão em português.</p>

    <p>Canal oficial IRC: Em Freenode, canal #meteor no chat.freenode.net: 6697</p>

    <h3>conclusão:</h3>
    <p>Acredito que consegui juntar algumas boas razões para a utilização Meteor. Claro que há momentos em que eu recomendo usá-lo e outros que não, pelo menos por agora, mas esse é assunto para outro post.</p>
    <p>Que a força esteja com vocês!</p>

  </div>
</article>

{% include comments.html %}
