---
layout: default
title: Repositório de Dados Abertos Covid 19
description: Todos sabemos que neste momento estamos enfrentando uma das maiores pandemias vividas pela humanidade e no Brasil o cenário é completamente alarmante; temos um chefe de estado que trabalha apenas em...

---

<article>
  <small>15/04/2020</small>
  <div class="post">
    <h2>Repositório de Dados Abertos: Covid-19</h2>
    {% include shared.html %}

    <p>Todos sabemos que neste momento estamos enfrentando uma das maiores pandemias vividas pela humanidade e no Brasil
      o cenário é completamente alarmante; temos um chefe de estado que trabalha apenas em interesses da classe
      dominante, e esta por sua vez, não quer deixar a roda do engenho parar, mesmo que isto custe a vida de milhares de
      escravos.</p>
    <p>Para aqueles que tenham interesse em desenvolver alguma solução com dados abertos uma alternativa é o repositório
      de código aberto da comunidade <a href="https://brasil.io/home" target="_blanck">brasil.io</a>, o projeto
      centraliza links e dados sobre boletins de números de casos
      das Secretarias Estaduais de Saúde (SES) sobre os casos de covid-19 no Brasil, além de outros dados relevantes
      para a análise, como óbitos registrados em cartório.</p>
    <p>O repositório esta disponível no <a href="https://github.com/turicas/covid19-br" target="_blanck">github</a> e já
      conta com 167 commits, 3 branches, 8 contributors e trabalha com a
      licença do código é <a href="https://www.gnu.org/licenses/lgpl-3.0.pt-br.html" target="_blanck">LGPL3</a>
      e dos dados convertidos <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.pt_BR"
        target="_blanck">Creative Commons Atribuição-CompartilhaIgual.</a></p>

    <p>Depois de coletados e checados os dados ficam disponíveis de 3 formas no Brasil.IO:</p>
    <ul>
      <li>Interface Web (feita para humanos)</li>
      <li>API (feita para humanos que desenvolvem programas)</li>
      <li>Download do dataset completo</li>
    </ul>
    <p>O projeto conta com uma boa <a href="https://github.com/turicas/covid19-br/blob/master/api.md"
        target="_blanck">documentação</a>
      e ainda um <a href="https://github.com/turicas/covid19-br/blob/master/faq.md" target="_blanck">FAQ</a>
      para dúvidas. Para auxiliar nas decisões, normalização e
      checagem dos dados o projeto também conta uma <a
        href="https://docs.google.com/document/d/1escumcbjS8inzAKvuXOQocMcQ8ZCqbyHU5X5hFrPpn4/edit"
        target="_blanck">metodologia de coleta de dados.</a>
    </p>

    <p>E se você ainda quiser contribuir para o projeto é possível colaborar em várias frentes:</p>
    <ul>
      <li>Criando programas (spiders) para extrair os dados automaticamente;</li>
      <li>Coletando links para os boletins de seu estado;</li>
      <li>Coletando dados sobre os casos por município por dia;</li>
      <li>Entrando em contato com a secretaria estadual de seu estado, sugerindo as <a
          href="https://github.com/turicas/covid19-br/blob/master/recomendacoes.md" target="_blanck">recomendações de
          liberação dos dados;</a>
      </li>
      <li>Evitando contato com humanos;</li>
      <li>Lavando as mãos várias vezes ao dia;</li>
      <li>Sendo solidário aos mais vulneráveis.</li>
    </ul>
    Logo, se você me perguntar se confio nos números que dizem respeito a pandemia no Brasil, eu lhe direi com toda
    certeza que não, os números de testes realizados no país não são suficientes para mensurar a dimensão do problema e
    o número oficial de casos não é real. É muito óbvio que é mais uma tática de manter a classe trabalhadora produzindo
    e jogá-la à própria sorte, pois sabemos bem que políticas neoliberais estão atentas apenas às cifras.</p>

    <p>Espero que esse artigo seja útil e que sigamos juntos construindo mecanismos de mudanças sociais através de
      softwares.</p>
    <p>Que a força esteja com vocês.</p>

  </div>
</article>

{% include comments.html %}